absl-py
asgiref
astunparse
cachetools
certifi
charset-normalizer
dj-database-url
Django
django-cors-headers
djangorestframework
drf-extra-fields
filetype
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
keras
libclang
Markdown
MarkupSafe
ml-dtypes
numpy
oauthlib
opt-einsum
packaging
Pillow
protobuf
psycopg-binary
psycopg2
pyasn1
pyasn1-modules
python-dotenv
pytz
requests
requests-oauthlib
rsa
six
sqlparse
teachable-machine
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
#tensorflow-macos
termcolor
typing_extensions
urllib3
Werkzeug
wrapt
