<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Furniture models</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h2>This is all avaible furniture models</h2>
    {% if furniture_model_list %}
    <ul>
      {% for furniture_model in furniture_model_list %}
      <li>
        <a href="/niksari/{{ furniture_model.id }}/"
          >{{ furniture_model.furniture_name }}</a
        >
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No furniture models are available.</p>
    {% endif %}
    <script src="" async defer></script>
  </body>
</html>
